{% extends "meson/content_page.html" %}
{% load i18n %}

{% block script_block %}<script type="text/javascript">$("#bookingTab").addClass("active");</script>{% endblock %}

{% block main_text_content %}
	<div class="row">
		<div class="col-md-6">
			<p class="infoHeader">Special ocasions</p>
			<p class="infoTextContainer infoTextFont">
				Cristmas dinners, birthdays, cocido for lunch, any occasion you might want to celebrate. <a href="/contact">Get in touch</a> and ask about availability, menu and prices and we make it happen.</br>
			</p>
		</div>
		<div class="col-md-6">
			<p class="infoHeader">Orders</p>
			<p class="infoTextContainer infoTextFont">
				Do you want <b>paella</b>, <b>migas</b>, <b>tortilla de patata</b>, even <b>cocido</b>, but you do not have the time to make it?<br/>
				No problem! <a href="/contact">Call us</a>, tell us what you want and when you want it, and we prepare it for you.
			</p>
        </div>
	</div>
{% endblock %}
