{% extends "meson/content_page.html" %}
{% load i18n %}

{% block script_block %}<script type="text/javascript">$("#contactTab").addClass("active");</script>{% endblock %}

{% block main_text_content %}
	<div class="row">
		<div class="col-md-6">
			<p class="infoHeader">Where are we?</p>
			<p class="infoTextContainer infoTextFont">
				Virgen de la Soledad, 16<br>
				19003 Guadalajara<br>
				(Spain)<br>
				Phone: (+34)629769459
			</p>
        </div>
        <div class="col-md-6">
			<p class="infoHeader">Opening Times</p>
			<p class="infoTextContainer infoTextFont">
				Monday-Saturday: 8am to 12pm<br>
				Sundays: 9am to 12pm
			</p>
        </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a href="https://www.google.es/maps/preview#!q=Calle+de+la+Virgen+de+la+Soledad%2C+16%2C+Guadalajara%2C+Spain" target="_blank">
				<center>
					<img title='{% trans "Click here to open on Google Maps" %}' class="googleMaps" src="http://maps.googleapis.com/maps/api/staticmap?center=Calle+de+la+Virgen+de+la+Soledad%2C+16%2C+Guadalajara%2C+Spain&amp;zoom=16&amp;size=640x400&amp;maptype=roadmap&amp;markers=color:red%7Ccolor:red%7Clabel:A%7C40.6281572,-3.1659409&amp;sensor=false" alt="Your map"/>
				</center>
			</a>
		</div>
	</div>
{% endblock %}
