{% extends "meson/content_page.html" %}
{% load i18n %}

{% block script_block %}<script type="text/javascript">$("#eventsTab").addClass("active");</script>{% endblock %}

{% block main_text_content %}
	<div class="row">
		<div class="col-md-12">
			<p class="infoHeader">Sports</p>
			<p class="infoTextContainer infoTextFont">
				Is there anything better than have a beer and a tapa while you whatch the greatest play?<br/>
				At Mesón Don Ramón you can watch all <b>major football matches</b>, on public and pay TV. There is nothing better than enjoying a good game with the fans screaming and having fun.<br/>
				What you want to wathc is handball, basketball or any other game less important? No problem, come and tell us. If it is not at the same time as anything already planned, TV is yours!
			</p>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<p class="infoHeader">Weekend Specials!</p>
			<p class="infoTextContainer infoTextFont">
				Every weekend our chef goes into the kitchen to prepare two of the most tipical dishes in Spain. 
				You can try them as tapa with your beverage, as a side racion. Whatever you prefer until the food runs out. So hurry and choose!<br/>
				On <b>Saturday</b>, <b>Migas</b>! With the ingredients of the chef's choice. Different every time.<br/>
				And it can not be a good <b>Sunday</b> without <b>Paella</b>. With shellfish, meat, mixed, vegetarian. Whatever the chef wants to do.
			</p>
        </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p class="infoHeader">Fancy play cards?</p>
			<p class="infoTextContainer infoTextFont">
				Do you like to play mus, tute, brisca, poker, even domino?<br/>
				Every afternoon you can come and play with your friends or with our regulars. From time to time a tournament can be arranged.
			</p>
        </div>
	</div>
{% endblock %}
