{% extends "meson/menu.html" %}
{% load i18n %}

{% block menuContent %}
<script type="text/javascript">$("#menuPermanentTab").addClass("active");</script>

	<div id="permanentMenuContent">
		<p class="infoHeader">Menu del Meson Don Ramon</p>

		<ul>
		{% if permanent_menu|length > 0 %}
				<ul>
				{% for dish in permanent_menu.dish_set.all %}
					<li>{{ dish.name }}</li>
				{% endfor %}
				</ul>
		{% else %}
			<p>There is no particular menu</p>
		{% endif %}

		</ul>
	</div>

</div>

{% endblock %}
