{% extends "meson/base_meson.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-10">
	{% block menuContent %}
		</br>
		<p class="infoText">Marvelous dishes in Meson Don Ramon. See the photos</p>
	{% endblock %}
</div>
{% endblock %}

{% block sidebar %}
<script type="text/javascript">$("#menuTab").addClass("active");</script>

<div class="col-md-2" id="menuSidebar" role="navigation">
	<div class="well sidebar-nav">
		<ul class="nav">
			<li>Menus</li>
			<li id="menuPermanentTab"><a href="/meson/menuPermanent">Variety</a></li>
			<li id="menuDailyTab"><a href="/meson/menuDaily">Daily Menu</a></li>
		</ul>
	</div>
</div>
{% endblock %}
